body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, 
main, 
footer { 
    display: inline-block;
    width: 1000px; 
    margin-left: calc(50% - 500px); 
    margin-bottom: 30px;
    /* background-color: yellow; */
} 

header {
    margin-top: 40px;
}

header > img {
    width: 100px;
    height: 40px;
    float: left;
    object-fit: contain;
    object-position: left;
}

nav {
    float: right;
    margin-top: 10px;
}

a {
    display: inline-block;
    margin-left: 2em;
    color: #000;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
}

a:first-child {
    margin-left: 0;
}

a:hover {
    text-decoration: underline;
}

main {
}

main > div {
    width: 40%;
    float: left;
}

h1 {
    font-size: 50px;
    color: #222222;
    font-weight: normal;
}
h1 > span {
    display:block;
    font-weight: bold;
}

div > p {
    font-size: 20px;
}

main > div > a {
    float: left;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #662c8c;
    color: #fff;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 1.7em;
    border: 0.15em solid #662c8c;
}

div > a:last-child {
    background-color: #fff;
    color: #662c8c;
}

/div > a:hover {
    div > a {
    box-shadow: 0 5px 10px 0px rgba(red, green, blue, alpha) (0, 0, 0, 0.5);
}

main > img {
    width: 55%;
    float: right;
}

footer {}

footer > div {
    float: left;
}

footer > p {
    margin: 0;
    float: right;
}